# Pandas Tutorial

## Read the Dataset

In [1]:
import numpy as np 
import pandas as pd

In [2]:
path = 'F:\DS Projects\Datasets\Combined_Flights_2022.csv'
df = pd.read_csv(path)

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\ASUS\AppData\Local\Temp\ipykernel_11816\7532545.py:1: SyntaxWarning: invalid escape sequence '\D'
  path = 'F:\DS Projects\Datasets\Combined_Flights_2022.csv'

## Explore on dataset

In [4]:
df.shape, len(df)

((4078318, 61), 4078318)

In [5]:
df.head()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False,False,1133,1123.0,0.0,-10.0,...,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0
1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False,False,732,728.0,0.0,-4.0,...,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,-15.0,...,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,False,False,1435,1430.0,0.0,-5.0,...,1446.0,1543.0,4.0,1605,-18.0,0.0,-2.0,1600-1659,2,0
4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,0.0,...,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0

In [6]:
pd.set_option("display.max_columns", 100)

In [7]:
df.head()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False,False,1133,1123.0,0.0,-10.0,1228.0,0.0,40.0,72.0,65.0,212.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4301,C5,20445,C5,N21144,4301,11921,1192102,31921,"Grand Junction, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1100-1159,17.0,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0
1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False,False,732,728.0,0.0,-4.0,848.0,0.0,55.0,77.0,80.0,295.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4299,C5,20445,C5,N16170,4299,12206,1220605,32206,"Harlingen/San Benito, TX",TX,48,Texas,74,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,0.0,-1.0,0700-0759,16.0,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0
2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,-15.0,1636.0,0.0,47.0,70.0,82.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4298,C5,20445,C5,N21144,4298,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1500-1559,21.0,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,False,False,1435,1430.0,0.0,-5.0,1547.0,0.0,57.0,90.0,77.0,376.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4296,C5,20445,C5,N11184,4296,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,11973,1197302,31973,"Gulfport/Biloxi, MS",MS,28,Mississippi,53,0.0,-1.0,1400-1459,16.0,1446.0,1543.0,4.0,1605,-18.0,0.0,-2.0,1600-1659,2,0
4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,0.0,1251.0,6.0,49.0,70.0,76.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4295,C5,20445,C5,N17146,4295,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,0.0,1100-1159,19.0,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0

In [8]:
df.tail()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
4078313,2022-03-31,Republic Airlines,MSY,EWR,False,True,1949,2014.0,25.0,25.0,234.0,NaN,NaN,185.0,NaN,1167.0,2022,1,3,31,4,UA,UA_CODESHARE,19977,UA,3621,YX,20452,YX,N745YX,3621,13495,1349505,33495,"New Orleans, LA",LA,22,Louisiana,72,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,1.0,1.0,1900-1959,17.0,2031.0,202.0,32.0,2354,NaN,NaN,NaN,2300-2359,5,1
4078314,2022-03-17,Republic Airlines,CLT,EWR,True,False,1733,1817.0,44.0,44.0,NaN,NaN,NaN,129.0,NaN,529.0,2022,1,3,17,4,UA,UA_CODESHARE,19977,UA,3437,YX,20452,YX,N654RW,3437,11057,1105703,31057,"Charlotte, NC",NC,37,North Carolina,36,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,1.0,2.0,1700-1759,NaN,NaN,NaN,NaN,1942,NaN,NaN,NaN,1900-1959,3,0
4078315,2022-03-08,Republic Airlines,ALB,ORD,False,False,1700,2318.0,378.0,378.0,59.0,381.0,135.0,158.0,161.0,723.0,2022,1,3,8,2,UA,UA_CODESHARE,19977,UA,3413,YX,20452,YX,N733YX,3413,10257,1025702,30257,"Albany, NY",NY,36,New York,22,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,1.0,12.0,1700-1759,19.0,2337.0,52.0,7.0,1838,381.0,1.0,12.0,1800-1859,3,0
4078316,2022-03-25,Republic Airlines,EWR,PIT,False,True,2129,2322.0,113.0,113.0,939.0,NaN,NaN,86.0,NaN,319.0,2022,1,3,25,5,UA,UA_CODESHARE,19977,UA,3450,YX,20452,YX,N647RW,3450,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,14122,1412202,30198,"Pittsburgh, PA",PA,42,Pennsylvania,23,1.0,7.0,2100-2159,25.0,2347.0,933.0,6.0,2255,NaN,NaN,NaN,2200-2259,2,1
4078317,2022-03-07,Republic Airlines,EWR,RDU,False,True,1154,1148.0,0.0,-6.0,1556.0,NaN,NaN,99.0,NaN,416.0,2022,1,3,7,1,UA,UA_CODESHARE,19977,UA,3585,YX,20452,YX,N648RW,3585,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,14492,1449202,34492,"Raleigh/Durham, NC",NC,37,North Carolina,36,0.0,-1.0,1100-1159,13.0,1201.0,1552.0,4.0,1333,NaN,NaN,NaN,1300-1359,2,1

In [9]:
df.sample(5, random_state=42)

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
3811797,2022-03-19,SkyWest Airlines Inc.,ASE,DEN,False,False,1831,1826.0,0.0,-5.0,1923.0,0.0,31.0,62.0,57.0,125.0,2022,1,3,19,6,UA,UA_CODESHARE,19977,UA,5745,OO,20304,OO,N794SK,5745,10372,1037205,30372,"Aspen, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1800-1859,19.0,1845.0,1916.0,7.0,1933,-10.0,0.0,-1.0,1900-1959,1,0
615029,2022-02-16,SkyWest Airlines Inc.,TYS,DEN,False,False,1605,1605.0,0.0,0.0,1812.0,35.0,194.0,212.0,247.0,1162.0,2022,1,2,16,3,UA,UA_CODESHARE,19977,UA,5733,OO,20304,OO,N127SY,5733,15412,1541205,35412,"Knoxville, TN",TN,47,Tennessee,54,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,0.0,1600-1659,9.0,1614.0,1728.0,44.0,1737,35.0,1.0,2.0,1700-1759,5,0
3228533,2022-01-18,American Airlines Inc.,LAX,OGG,False,False,1719,1714.0,0.0,-5.0,2052.0,3.0,314.0,330.0,338.0,2486.0,2022,1,1,18,2,AA,AA,19805,AA,205,AA,19805,AA,N400AN,205,12892,1289208,32575,"Los Angeles, CA",CA,6,California,91,13830,1383002,33830,"Kahului, HI",HI,15,Hawaii,2,0.0,-1.0,1700-1759,14.0,1728.0,2042.0,10.0,2049,3.0,0.0,0.0,2000-2059,10,0
3129490,2022-01-23,Southwest Airlines Co.,LAS,BWI,False,False,1515,1533.0,18.0,18.0,2302.0,27.0,251.0,260.0,269.0,2106.0,2022,1,1,23,7,WN,WN,19393,WN,312,WN,19393,WN,N7828A,312,12889,1288903,32211,"Las Vegas, NV",NV,32,Nevada,85,10821,1082106,30852,"Baltimore, MD",MD,24,Maryland,35,1.0,1.0,1500-1559,15.0,1548.0,2259.0,3.0,2235,27.0,1.0,1.0,2200-2259,9,0
1273418,2022-07-01,Delta Air Lines Inc.,DTW,RDU,False,False,715,709.0,0.0,-6.0,837.0,0.0,73.0,98.0,88.0,501.0,2022,3,7,1,5,DL,DL,19790,DL,698,DL,19790,DL,N333NB,698,11433,1143302,31295,"Detroit, MI",MI,26,Michigan,43,14492,1449202,34492,"Raleigh/Durham, NC",NC,37,North Carolina,36,0.0,-1.0,0700-0759,12.0,721.0,834.0,3.0,853,-16.0,0.0,-2.0,0800-0859,3,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4078318 entries, 0 to 4078317
Data columns (total 61 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   FlightDate                               object
 1   Airline                                  object
 2   Origin                                   object
 3   Dest                                     object
 4   Cancelled                                bool
 5   Diverted                                 bool
 6   CRSDepTime                               int64
 7   DepTime                                  float64
 8   DepDelayMinutes                          float64
 9   DepDelay                                 float64
 10  ArrTime                                  float64
 11  ArrDelayMinutes                          float64
 12  AirTime                                  float64
 13  CRSElapsedTime                           float64
 14  ActualElapsedTime                        float64
 15  Distance                                 float64
 16  Year                                     int64
 17  Quarter                                  int64
 18  Month                                    int64
 19  DayofMonth                               int64
 20  DayOfWeek                                int64
 21  Marketing_Airline_Network                object
 22  Operated_or_Branded_Code_Share_Partners  object
 23  DOT_ID_Marketing_Airline                 int64
 24  IATA_Code_Marketing_Airline              object
 25  Flight_Number_Marketing_Airline          int64
 26  Operating_Airline                        object
 27  DOT_ID_Operating_Airline                 int64
 28  IATA_Code_Operating_Airline              object
 29  Tail_Number                              object
 30  Flight_Number_Operating_Airline          int64
 31  OriginAirportID                          int64
 32  OriginAirportSeqID                       int64
 33  OriginCityMarketID                       int64
 34  OriginCityName                           object
 35  OriginState                              object
 36  OriginStateFips                          int64
 37  OriginStateName                          object
 38  OriginWac                                int64
 39  DestAirportID                            int64
 40  DestAirportSeqID                         int64
 41  DestCityMarketID                         int64
 42  DestCityName                             object
 43  DestState                                object
 44  DestStateFips                            int64
 45  DestStateName                            object
 46  DestWac                                  int64
 47  DepDel15                                 float64
 48  DepartureDelayGroups                     float64
 49  DepTimeBlk                               object
 50  TaxiOut                                  float64
 51  WheelsOff                                float64
 52  WheelsOn                                 float64
 53  TaxiIn                                   float64
 54  CRSArrTime                               int64
 55  ArrDelay                                 float64
 56  ArrDel15                                 float64
 57  ArrivalDelayGroups                       float64
 58  ArrTimeBlk                               object
 59  DistanceGroup                            int64
 60  DivAirportLandings                       int64
dtypes: bool(2), float64(18), int64(23), object(18)
memory usage: 1.8+ GB

In [11]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4078318 entries, 0 to 4078317
Columns: 61 entries, FlightDate to DivAirportLandings
dtypes: bool(2), float64(18), int64(23), object(18)
memory usage: 1.8+ GB

In [12]:
df.describe(percentiles=[0.2, 0.4, 0.6, 0.8])

,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginStateFips,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestStateFips,DestWac,DepDel15,DepartureDelayGroups,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,DistanceGroup,DivAirportLandings
count,4.078318e+06,3.957885e+06,3.957823e+06,3.957823e+06,3.954079e+06,3.944916e+06,3.944916e+06,4.078318e+06,3.944916e+06,4.078318e+06,4078318.0,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,3.957823e+06,3.957823e+06,3.955652e+06,3.955652e+06,3.954076e+06,3.954076e+06,4.078318e+06,3.944916e+06,3.944916e+06,3.944916e+06,4.078318e+06,4.078318e+06
mean,1.329587e+03,1.334374e+03,1.601494e+01,1.309049e+01,1.457886e+03,1.578307e+01,1.110075e+02,1.413211e+02,1.358624e+02,7.978657e+02,2022.0,1.741207e+00,4.083803e+00,1.571131e+01,4.005566e+00,1.983101e+04,2.562115e+03,1.999122e+04,2.562145e+03,1.265994e+04,1.265998e+06,3.175708e+04,2.746504e+01,5.399368e+01,1.265990e+04,1.265994e+06,3.175704e+04,2.746550e+01,5.399338e+01,2.184625e-01,2.141248e-01,1.697375e+01,1.356576e+03,1.455073e+03,7.894387e+00,1.486058e+03,7.528486e+00,2.164715e-01,-6.256103e-02,3.663516e+00,3.685098e-03
std,4.904801e+02,5.056219e+02,5.231498e+01,5.332016e+01,5.431841e+02,5.198424e+01,6.996246e+01,7.179635e+01,7.185501e+01,5.914742e+02,0.0,7.037563e-01,1.998918e+00,8.760122e+00,2.007050e+00,2.760907e+02,1.745826e+03,3.767694e+02,1.745873e+03,1.522713e+03,1.522711e+05,1.320296e+03,1.670547e+01,2.664820e+01,1.522718e+03,1.522716e+05,1.320286e+03,1.670567e+01,2.664849e+01,4.132030e-01,2.345973e+00,9.495407e+00,5.075580e+02,5.378428e+02,6.663118e+00,5.185078e+02,5.524625e+01,4.118393e-01,2.487442e+00,2.320848e+00,1.141331e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,-7.800000e+01,1.000000e+00,0.000000e+00,8.000000e+00,-4.800000e+01,1.400000e+01,3.100000e+01,2022.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.939300e+04,1.000000e+00,1.939300e+04,1.000000e+00,1.013500e+04,1.013506e+06,3.007000e+04,1.000000e+00,1.000000e+00,1.013500e+04,1.013506e+06,3.007000e+04,1.000000e+00,1.000000e+00,0.000000e+00,-2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.000000e+02,0.000000e+00,-2.000000e+00,1.000000e+00,0.000000e+00
20%,8.290000e+02,8.280000e+02,0.000000e+00,-6.000000e+00,9.530000e+02,0.000000e+00,5.400000e+01,8.400000e+01,7.700000e+01,3.180000e+02,2022.0,1.000000e+00,2.000000e+00,7.000000e+00,2.000000e+00,1.979000e+04,8.630000e+02,1.969000e+04,8.630000e+02,1.119300e+04,1.119302e+06,3.052900e+04,1.200000e+01,3.300000e+01,1.119300e+04,1.119302e+06,3.052900e+04,1.200000e+01,3.300000e+01,0.000000e+00,-1.000000e+00,1.100000e+01,8.430000e+02,9.500000e+02,4.000000e+00,1.010000e+03,-1.600000e+01,0.000000e+00,-2.000000e+00,2.000000e+00,0.000000e+00
40%,1.140000e+03,1.144000e+03,0.000000e+00,-3.000000e+00,1.317000e+03,0.000000e+00,7.900000e+01,1.090000e+02,1.040000e+02,5.320000e+02,2022.0,1.000000e+00,3.000000e+00,1.300000e+01,3.000000e+00,1.980500e+04,1.753000e+03,1.980500e+04,1.753000e+03,1.199600e+04,1.199603e+06,3.105700e+04,1.700000e+01,3.800000e+01,1.199600e+04,1.199603e+06,3.105700e+04,1.700000e+01,3.800000e+01,0.000000e+00,-1.000000e+00,1.300000e+01,1.158000e+03,1.314000e+03,5.000000e+00,1.331000e+03,-9.000000e+00,0.000000e+00,-1.000000e+00,3.000000e+00,0.000000e+00
50%,1.320000e+03,1.325000e+03,0.000000e+00,-2.000000e+00,1.500000e+03,0.000000e+00,9.400000e+01,1.240000e+02,1.190000e+02,6.430000e+02,2022.0,2.000000e+00,4.000000e+00,1.600000e+01,4.000000e+00,1.980500e+04,2.228000e+03,1.997700e+04,2.228000e+03,1.288900e+04,1.288903e+06,3.145300e+04,2.700000e+01,4.400000e+01,1.288900e+04,1.288903e+06,3.145300e+04,2.700000e+01,4.400000e+01,0.000000e+00,-1.000000e+00,1.500000e+01,1.338000e+03,1.456000e+03,6.000000e+00,1.513000e+03,-5.000000e+00,0.000000e+00,-1.000000e+00,3.000000e+00,0.000000e+00
60%,1.500000e+03,1.508000e+03,0.000000e+00,0.000000e+00,1.640000e+03,0.000000e+00,1.110000e+02,1.410000e+02,1.360000e+02,7.980000e+02,2022.0,2.000000e+00,5.000000e+00,1.900000e+01,5.000000e+00,1.980500e+04,2.677000e+03,2.030400e+04,2.677000e+03,1.320400e+04,1.320402e+06,3.170300e+04,3.600000e+01,6.600000e+01,1.320400e+04,1.320402e+06,3.170300e+04,3.600000e+01,6.600000e+01,0.000000e+00,0.000000e+00,1.600000e+01,1.521000e+03,1.637000e+03,7.000000e+00,1.650000e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,4.000000e+00,0.000000e+00
80%,1.823000e+03,1.833000e+03,1.700000e+01,1.700000e+01,2.004000e+03,1.700000e+01,1.530000e+02,1.850000e+02,1.810000e+02,1.127000e+03,2022.0,2.000000e+00,6.000000e+00,2.500000e+01,6.000000e+00,1.997700e+04,4.415000e+03,2.039800e+04,4.416000e+03,1.410700e+04,1.410702e+06,3.275800e+04,4.800000e+01,8.300000e+01,1.410700e+04,1.410702e+06,3.275800e+04,4.800000e+01,8.300000e+01,1.000000e+00,1.000000e+00,2.100000e+01,1.848000e+03,2.000000e+03,1.000000e+01,2.010000e+03,1.700000e+01,1.000000e+00,1.000000e+00,5.000000e+00,0.000000e+00
max,2.359000e+03,2.400000e+03,7.223000e+03,7.223000e+03,2.400000e+03,7.232000e+03,7.270000e+02,6.900000e+02,7.640000e+02,5.095000e+03,2022.0,3.000000e+00,7.000000e+00,3.100000e+01,7.000000e+00,2.043600e+04,9.680000e+03,2.050000e+04,9.680000e+03,1.686900e+04,1.686901e+06,3.610100e+04,7.800000e+01,9.300000e+01,1.686900e+04,1.686901e+06,3.610100e+04,7.800000e+01,9.300000e+01,1.000000e+00,1.200000e+01,2.210000e+02,2.400000e+03,2.400000e+03,2.900000e+02,2.359000e+03,7.232000e+03,1.000000e+00,1.200000e+01,1.100000e+01,9.000000e+00

In [13]:
df.describe(include=['object'])

,FlightDate,Airline,Origin,Dest,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,IATA_Code_Marketing_Airline,Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,OriginCityName,OriginState,OriginStateName,DestCityName,DestState,DestStateName,DepTimeBlk,ArrTimeBlk
count,4078318,4078318,4078318,4078318,4078318,4078318,4078318,4078318,4078318,4051523,4078318,4078318,4078318,4078318,4078318,4078318,4078318,4078318
unique,212,21,375,375,10,14,10,21,21,5896,369,53,53,369,53,53,19,19
top,2022-07-21,Southwest Airlines Co.,ATL,ATL,AA,WN,AA,WN,WN,N475HA,"Chicago, IL",TX,Texas,"Chicago, IL",TX,Texas,0600-0659,1200-1259
freq,20844,731925,183697,183671,1043530,731925,1043530,731925,731925,1657,213487,426204,426204,213516,426207,426207,286192,256772

In [14]:
df.describe(exclude=['int64', 'object'])

,Cancelled,Diverted,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,DepDel15,DepartureDelayGroups,TaxiOut,WheelsOff,WheelsOn,TaxiIn,ArrDelay,ArrDel15,ArrivalDelayGroups
count,4078318,4078318,3.957885e+06,3.957823e+06,3.957823e+06,3.954079e+06,3.944916e+06,3.944916e+06,4.078318e+06,3.944916e+06,4.078318e+06,3.957823e+06,3.957823e+06,3.955652e+06,3.955652e+06,3.954076e+06,3.954076e+06,3.944916e+06,3.944916e+06,3.944916e+06
unique,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,3955126,4068108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,1.334374e+03,1.601494e+01,1.309049e+01,1.457886e+03,1.578307e+01,1.110075e+02,1.413211e+02,1.358624e+02,7.978657e+02,2.184625e-01,2.141248e-01,1.697375e+01,1.356576e+03,1.455073e+03,7.894387e+00,7.528486e+00,2.164715e-01,-6.256103e-02
std,NaN,NaN,5.056219e+02,5.231498e+01,5.332016e+01,5.431841e+02,5.198424e+01,6.996246e+01,7.179635e+01,7.185501e+01,5.914742e+02,4.132030e-01,2.345973e+00,9.495407e+00,5.075580e+02,5.378428e+02,6.663118e+00,5.524625e+01,4.118393e-01,2.487442e+00
min,NaN,NaN,1.000000e+00,0.000000e+00,-7.800000e+01,1.000000e+00,0.000000e+00,8.000000e+00,-4.800000e+01,1.400000e+01,3.100000e+01,0.000000e+00,-2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.000000e+02,0.000000e+00,-2.000000e+00
25%,NaN,NaN,9.170000e+02,0.000000e+00,-5.000000e+00,1.046000e+03,0.000000e+00,6.000000e+01,8.900000e+01,8.300000e+01,3.680000e+02,0.000000e+00,-1.000000e+00,1.100000e+01,9.320000e+02,1.044000e+03,4.000000e+00,-1.400000e+01,0.000000e+00,-1.000000e+00
50%,NaN,NaN,1.325000e+03,0.000000e+00,-2.000000e+00,1.500000e+03,0.000000e+00,9.400000e+01,1.240000e+02,1.190000e+02,6.430000e+02,0.000000e+00,-1.000000e+00,1.500000e+01,1.338000e+03,1.456000e+03,6.000000e+00,-5.000000e+00,0.000000e+00,-1.000000e+00
75%,NaN,NaN,1.744000e+03,1.100000e+01,1.100000e+01,1.914000e+03,1.000000e+01,1.410000e+02,1.710000e+02,1.670000e+02,1.035000e+03,0.000000e+00,0.000000e+00,1.900000e+01,1.758000e+03,1.909000e+03,9.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00
max,NaN,NaN,2.400000e+03,7.223000e+03,7.223000e+03,2.400000e+03,7.232000e+03,7.270000e+02,6.900000e+02,7.640000e+02,5.095000e+03,1.000000e+00,1.200000e+01,2.210000e+02,2.400000e+03,2.400000e+03,2.900000e+02,7.232000e+03,1.000000e+00,1.200000e+01

In [15]:
df.describe(include='all')

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
count,4078318,4078318,4078318,4078318,4078318,4078318,4.078318e+06,3.957885e+06,3.957823e+06,3.957823e+06,3.954079e+06,3.944916e+06,3.944916e+06,4.078318e+06,3.944916e+06,4.078318e+06,4078318.0,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4078318,4078318,4.078318e+06,4078318,4.078318e+06,4078318,4.078318e+06,4078318,4051523,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4078318,4078318,4.078318e+06,4078318,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4078318,4078318,4.078318e+06,4078318,4.078318e+06,3.957823e+06,3.957823e+06,4078318,3.955652e+06,3.955652e+06,3.954076e+06,3.954076e+06,4.078318e+06,3.944916e+06,3.944916e+06,3.944916e+06,4078318,4.078318e+06,4.078318e+06
unique,212,21,375,375,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,14,NaN,10,NaN,21,NaN,21,5896,NaN,NaN,NaN,NaN,369,53,NaN,53,NaN,NaN,NaN,NaN,369,53,NaN,53,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN
top,2022-07-21,Southwest Airlines Co.,ATL,ATL,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AA,WN,NaN,AA,NaN,WN,NaN,WN,N475HA,NaN,NaN,NaN,NaN,"Chicago, IL",TX,NaN,Texas,NaN,NaN,NaN,NaN,"Chicago, IL",TX,NaN,Texas,NaN,NaN,NaN,0600-0659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1200-1259,NaN,NaN
freq,20844,731925,183697,183671,3955126,4068108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1043530,731925,NaN,1043530,NaN,731925,NaN,731925,1657,NaN,NaN,NaN,NaN,213487,426204,NaN,426204,NaN,NaN,NaN,NaN,213516,426207,NaN,426207,NaN,NaN,NaN,286192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,256772,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,1.329587e+03,1.334374e+03,1.601494e+01,1.309049e+01,1.457886e+03,1.578307e+01,1.110075e+02,1.413211e+02,1.358624e+02,7.978657e+02,2022.0,1.741207e+00,4.083803e+00,1.571131e+01,4.005566e+00,NaN,NaN,1.983101e+04,NaN,2.562115e+03,NaN,1.999122e+04,NaN,NaN,2.562145e+03,1.265994e+04,1.265998e+06,3.175708e+04,NaN,NaN,2.746504e+01,NaN,5.399368e+01,1.265990e+04,1.265994e+06,3.175704e+04,NaN,NaN,2.746550e+01,NaN,5.399338e+01,2.184625e-01,2.141248e-01,NaN,1.697375e+01,1.356576e+03,1.455073e+03,7.894387e+00,1.486058e+03,7.528486e+00,2.164715e-01,-6.256103e-02,NaN,3.663516e+00,3.685098e-03
std,NaN,NaN,NaN,NaN,NaN,NaN,4.904801e+02,5.056219e+02,5.231498e+01,5.332016e+01,5.431841e+02,5.198424e+01,6.996246e+01,7.179635e+01,7.185501e+01,5.914742e+02,0.0,7.037563e-01,1.998918e+00,8.760122e+00,2.007050e+00,NaN,NaN,2.760907e+02,NaN,1.745826e+03,NaN,3.767694e+02,NaN,NaN,1.745873e+03,1.522713e+03,1.522711e+05,1.320296e+03,NaN,NaN,1.670547e+01,NaN,2.664820e+01,1.522718e+03,1.522716e+05,1.320286e+03,NaN,NaN,1.670567e+01,NaN,2.664849e+01,4.132030e-01,2.345973e+00,NaN,9.495407e+00,5.075580e+02,5.378428e+02,6.663118e+00,5.185078e+02,5.524625e+01,4.118393e-01,2.487442e+00,NaN,2.320848e+00,1.141331e-01
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,1.000000e+00,0.000000e+00,-7.800000e+01,1.000000e+00,0.000000e+00,8.000000e+00,-4.800000e+01,1.400000e+01,3.100000e+01,2022.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,NaN,NaN,1.939300e+04,NaN,1.000000e+00,NaN,1.939300e+04,NaN,NaN,1.000000e+00,1.013500e+04,1.013506e+06,3.007000e+04,NaN,NaN,1.000000e+00,NaN,1.000000e+00,1.013500e+04,1.013506e+06,3.007000e+04,NaN,NaN,1.000000e+00,NaN,1.000000e+00,0.000000e+00,-2.000000e+00,NaN,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.000000e+02,0.000000e+00,-2.000000e+00,NaN,1.000000e+00,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,9.140000e+02,9.170000e+02,0.000000e+00,-5.000000e+00,1.046000e+03,0.000000e+00,6.000000e+01,8.900000e+01,8.300000e+01,3.680000e+02,2022.0,1.000000e+00,2.000000e+00,8.000000e+00,2.000000e+00,NaN,NaN,1.979000e+04,NaN,1.105000e+03,NaN,1.979000e+04,NaN,NaN,1.105000e+03,1.129200e+04,1.129202e+06,3.069300e+04,NaN,NaN,1.200000e+01,NaN,3.300000e+01,1.129200e+04,1.129202e+06,3.069300e+04,NaN,NaN,1.200000e+01,NaN,3.300000e+01,0.000000e+00,-1.000000e+00,NaN,1.100000e+01,9.320000e+02,1.044000e+03,4.000000e+00,1.103000e+03,-1.400000e+01,0.000000e+00,-1.000000e+00,NaN,2.000000e+00,0.000000e+00
50%,NaN,NaN,NaN,NaN,NaN,NaN,1.320000e+03,1.325000e+03,0.000000e+00,-2.000000e+00,1.500000e+03,0.000000e+00,9.400000e+01,1.240000e+02,1.190000e+02,6.430000e+02,2022.0,2.000000e+00,4.000000e+00,1.600000e+01,4.000000e+00,NaN,NaN,1.980500e+04,NaN,2.228000e+03,NaN,1.997700e+04,NaN,NaN,2.228000e+03,1.288900e+04,1.288903e+06,3.145300e+04,NaN,NaN,2.700000e+01,NaN,4.400000e+01,1.288900e+04,1.288903e+06,3.145300e+04,NaN,NaN,2.700000e+01,NaN,4.400000e+01,0.000000e+00,-1.000000e+00,NaN,1.500000e+01,1.338000e+03,1.456000e+03,6.000000e+00,1.513000e+03,-5.000000e+00,0.000000e+00,-1.000000e+00,NaN,3.000000e+00,0.000000e+00
75%,NaN,NaN,NaN,NaN,NaN,NaN,1.735000e+03,1.744000e+03,1.100000e+01,1.100000e+01,1.914000e+03,1.000000e+01,1.410000e+02,1.710000e+02,1.670000e+02,1.035000e+03,2022.0,2.000000e+00,6.000000e+00,2.300000e+01,6.000000e+00,NaN,NaN,1.997700e+04,NaN,3.877000e+03,NaN,2.037800e+04,NaN,NaN,3.877000e+03,1.402700e+04,1.402702e+06,3.246700e+04,NaN,NaN,4.200000e+01,NaN,8.100000e+01,1.402700e+04,1.402702e+06,3.246700e+04,NaN,NaN,4.200000e+01,NaN,8.100000e+01,0.000000e+00,0.000000e+00,NaN,1.900000e+01,1.758000e+03,1.909000e+03,9.000000e+00,1.920000e+03,1.000000e+01,0.000000e+00,0.000000e+00,NaN,5.000000e+00,0.000000e+00
max,NaN,NaN,NaN,NaN,NaN,NaN,2.359000e+03,2.400000e+03,7.223000e+03,7.223000e+03,2.400000e+03,7.232000e+03,7.270000e+02,6.900000e+02,7.640000e+02,5.095000e+03,2022.0,3.000000e+00,7.000000e+00,3.100000e+01,7.000000e+00,NaN,NaN,2.043600e+04,NaN,9.680000e+03,NaN,2.050000e+04,NaN,NaN,9.680000e+03,1.686900e+04,1.686901e+06,3.610100e+04,NaN,NaN,7.800000e+01,NaN,9.300000e+01,1.686900e+04,1.686901e+06,3.610100e+04,NaN,NaN,7.800000e+01,NaN,9.300000e+01,1.000000e+00,1.200000e+01,NaN,2.210000e+02,2.400000e+03,2.400000e+03,2.900000e+02,2.359000e+03,7.232000e+03,1.000000e+00,1.200000e+01,NaN,1.100000e+01,9.000000e+00

# Columns Access

In [16]:
df.columns

Index(['FlightDate', 'Airline', 'Origin', 'Dest', 'Cancelled', 'Diverted',
       'CRSDepTime', 'DepTime', 'DepDelayMinutes', 'DepDelay', 'ArrTime',
       'ArrDelayMinutes', 'AirTime', 'CRSElapsedTime', 'ActualElapsedTime',
       'Distance', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'Marketing_Airline_Network', 'Operated_or_Branded_Code_Share_Partners',
       'DOT_ID_Marketing_Airline', 'IATA_Code_Marketing_Airline',
       'Flight_Number_Marketing_Airline', 'Operating_Airline',
       'DOT_ID_Operating_Airline', 'IATA_Code_Operating_Airline',
       'Tail_Number', 'Flight_Number_Operating_Airline', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'OriginCityName',
       'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac',
       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'DestCityName',
       'DestState', 'DestStateFips', 'DestStateName', 'DestWac', 'DepDel15',
       'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'WheelsOff',
       'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrDelay', 'ArrDel15',
       'ArrivalDelayGroups', 'ArrTimeBlk', 'DistanceGroup',
       'DivAirportLandings'],
      dtype='object')

In [17]:
df.index

RangeIndex(start=0, stop=4078318, step=1)

In [18]:
pd.set_option('display.max_columns', None)

In [19]:
df.nunique()

FlightDate            212
Airline                21
Origin                375
Dest                  375
Cancelled               2
                     ...
ArrDel15                2
ArrivalDelayGroups     15
ArrTimeBlk             19
DistanceGroup          11
DivAirportLandings      5
Length: 61, dtype: int64

In [20]:
# access to the specific column(s)
df['Airline']

0          Commutair Aka Champlain Enterprises, Inc.
1          Commutair Aka Champlain Enterprises, Inc.
2          Commutair Aka Champlain Enterprises, Inc.
3          Commutair Aka Champlain Enterprises, Inc.
4          Commutair Aka Champlain Enterprises, Inc.
                             ...
4078313                            Republic Airlines
4078314                            Republic Airlines
4078315                            Republic Airlines
4078316                            Republic Airlines
4078317                            Republic Airlines
Name: Airline, Length: 4078318, dtype: object

In [21]:
df.Airline

0          Commutair Aka Champlain Enterprises, Inc.
1          Commutair Aka Champlain Enterprises, Inc.
2          Commutair Aka Champlain Enterprises, Inc.
3          Commutair Aka Champlain Enterprises, Inc.
4          Commutair Aka Champlain Enterprises, Inc.
                             ...
4078313                            Republic Airlines
4078314                            Republic Airlines
4078315                            Republic Airlines
4078316                            Republic Airlines
4078317                            Republic Airlines
Name: Airline, Length: 4078318, dtype: object

In [22]:
df[['Airline']]

                                           Airline
0        Commutair Aka Champlain Enterprises, Inc.
1        Commutair Aka Champlain Enterprises, Inc.
2        Commutair Aka Champlain Enterprises, Inc.
3        Commutair Aka Champlain Enterprises, Inc.
4        Commutair Aka Champlain Enterprises, Inc.
...                                            ...
4078313                          Republic Airlines
4078314                          Republic Airlines
4078315                          Republic Airlines
4078316                          Republic Airlines
4078317                          Republic Airlines

[4078318 rows x 1 columns]

In [23]:
df[['Airline', 'Origin', 'Dest']]

                                           Airline Origin Dest
0        Commutair Aka Champlain Enterprises, Inc.    GJT  DEN
1        Commutair Aka Champlain Enterprises, Inc.    HRL  IAH
2        Commutair Aka Champlain Enterprises, Inc.    DRO  DEN
3        Commutair Aka Champlain Enterprises, Inc.    IAH  GPT
4        Commutair Aka Champlain Enterprises, Inc.    DRO  DEN
...                                            ...    ...  ...
4078313                          Republic Airlines    MSY  EWR
4078314                          Republic Airlines    CLT  EWR
4078315                          Republic Airlines    ALB  ORD
4078316                          Republic Airlines    EWR  PIT
4078317                          Republic Airlines    EWR  RDU

[4078318 rows x 3 columns]

In [24]:
df[df.columns[-4:-1]]

         ArrivalDelayGroups ArrTimeBlk  DistanceGroup
0                      -2.0  1200-1259              1
1                      -1.0  0800-0859              2
2                      -1.0  1600-1659              2
3                      -2.0  1600-1659              2
4                       0.0  1200-1259              2
...                     ...        ...            ...
4078313                 NaN  2300-2359              5
4078314                 NaN  1900-1959              3
4078315                12.0  1800-1859              3
4078316                 NaN  2200-2259              2
4078317                 NaN  1300-1359              2

[4078318 rows x 3 columns]

In [25]:
df['Airline'].describe()

count                    4078318
unique                        21
top       Southwest Airlines Co.
freq                      731925
Name: Airline, dtype: object

In [26]:
df['Airline'].nunique()

21

In [27]:
df['Airline'].unique()

array(['Commutair Aka Champlain Enterprises, Inc.',
       'GoJet Airlines, LLC d/b/a United Express',
       'Air Wisconsin Airlines Corp', 'Mesa Airlines Inc.',
       'Southwest Airlines Co.', 'Republic Airlines', 'Endeavor Air Inc.',
       'American Airlines Inc.', 'Capital Cargo International',
       'SkyWest Airlines Inc.', 'Alaska Airlines Inc.', 'JetBlue Airways',
       'Delta Air Lines Inc.', 'Frontier Airlines Inc.', 'Allegiant Air',
       'Hawaiian Airlines Inc.', 'Envoy Air', 'Spirit Air Lines',
       'Comair Inc.', 'Horizon Air', 'United Air Lines Inc.'],
      dtype=object)

In [28]:
df['Airline'].value_counts()

Airline
Southwest Airlines Co.                       731925
Delta Air Lines Inc.                         512114
American Airlines Inc.                       495953
SkyWest Airlines Inc.                        440807
United Air Lines Inc.                        352009
Republic Airlines                            197881
JetBlue Airways                              156793
Envoy Air                                    150758
Endeavor Air Inc.                            142624
Comair Inc.                                  135884
Alaska Airlines Inc.                         129510
Spirit Air Lines                             129208
Frontier Airlines Inc.                        86557
Allegiant Air                                 73504
Mesa Airlines Inc.                            71972
Horizon Air                                   56320
Capital Cargo International                   52827
Commutair Aka Champlain Enterprises, Inc.     44367
Hawaiian Airlines Inc.                        42212
Air Wisconsin Airlines Corp                   40300
GoJet Airlines, LLC d/b/a United Express      34793
Name: count, dtype: int64

In [30]:
# return output in dataframe shape
df['Airline'].value_counts().reset_index()

                                      Airline   count
0                      Southwest Airlines Co.  731925
1                        Delta Air Lines Inc.  512114
2                      American Airlines Inc.  495953
3                       SkyWest Airlines Inc.  440807
4                       United Air Lines Inc.  352009
5                           Republic Airlines  197881
6                             JetBlue Airways  156793
7                                   Envoy Air  150758
8                           Endeavor Air Inc.  142624
9                                 Comair Inc.  135884
10                       Alaska Airlines Inc.  129510
11                           Spirit Air Lines  129208
12                     Frontier Airlines Inc.   86557
13                              Allegiant Air   73504
14                         Mesa Airlines Inc.   71972
15                                Horizon Air   56320
16                Capital Cargo International   52827
17  Commutair Aka Champlain Enterprises, Inc.   44367
18                     Hawaiian Airlines Inc.   42212
19                Air Wisconsin Airlines Corp   40300
20   GoJet Airlines, LLC d/b/a United Express   34793

In [31]:
df[['Airline', 'Origin']].value_counts()

Airline                                   Origin
Delta Air Lines Inc.                      ATL       120919
American Airlines Inc.                    DFW        81239
                                          CLT        57914
United Air Lines Inc.                     DEN        46489
Southwest Airlines Co.                    DEN        45398
                                                     ...
Frontier Airlines Inc.                    ICT            1
GoJet Airlines, LLC d/b/a United Express  BWI            1
Endeavor Air Inc.                         ECP            1
Mesa Airlines Inc.                        MDT            1
Air Wisconsin Airlines Corp               FWA            1
Name: count, Length: 2194, dtype: int64

In [32]:
df[['Airline', 'Origin']].value_counts().reset_index()

                                       Airline Origin   count
0                         Delta Air Lines Inc.    ATL  120919
1                       American Airlines Inc.    DFW   81239
2                       American Airlines Inc.    CLT   57914
3                        United Air Lines Inc.    DEN   46489
4                       Southwest Airlines Co.    DEN   45398
...                                        ...    ...     ...
2189                    Frontier Airlines Inc.    ICT       1
2190  GoJet Airlines, LLC d/b/a United Express    BWI       1
2191                         Endeavor Air Inc.    ECP       1
2192                        Mesa Airlines Inc.    MDT       1
2193               Air Wisconsin Airlines Corp    FWA       1

[2194 rows x 3 columns]

In [33]:
df['test1'] = 1
df['DepTimeHour'] = df['DepTime']/60

In [34]:
df.shape

(4078318, 63)

In [35]:
df.columns

Index(['FlightDate', 'Airline', 'Origin', 'Dest', 'Cancelled', 'Diverted',
       'CRSDepTime', 'DepTime', 'DepDelayMinutes', 'DepDelay', 'ArrTime',
       'ArrDelayMinutes', 'AirTime', 'CRSElapsedTime', 'ActualElapsedTime',
       'Distance', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'Marketing_Airline_Network', 'Operated_or_Branded_Code_Share_Partners',
       'DOT_ID_Marketing_Airline', 'IATA_Code_Marketing_Airline',
       'Flight_Number_Marketing_Airline', 'Operating_Airline',
       'DOT_ID_Operating_Airline', 'IATA_Code_Operating_Airline',
       'Tail_Number', 'Flight_Number_Operating_Airline', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'OriginCityName',
       'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac',
       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'DestCityName',
       'DestState', 'DestStateFips', 'DestStateName', 'DestWac', 'DepDel15',
       'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'WheelsOff',
       'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrDelay', 'ArrDel15',
       'ArrivalDelayGroups', 'ArrTimeBlk', 'DistanceGroup',
       'DivAirportLandings', 'test1', 'DepTimeHour'],
      dtype='object')

In [36]:
df = df.rename(columns = {'test1':'Ones'})

In [37]:
df.columns

Index(['FlightDate', 'Airline', 'Origin', 'Dest', 'Cancelled', 'Diverted',
       'CRSDepTime', 'DepTime', 'DepDelayMinutes', 'DepDelay', 'ArrTime',
       'ArrDelayMinutes', 'AirTime', 'CRSElapsedTime', 'ActualElapsedTime',
       'Distance', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'Marketing_Airline_Network', 'Operated_or_Branded_Code_Share_Partners',
       'DOT_ID_Marketing_Airline', 'IATA_Code_Marketing_Airline',
       'Flight_Number_Marketing_Airline', 'Operating_Airline',
       'DOT_ID_Operating_Airline', 'IATA_Code_Operating_Airline',
       'Tail_Number', 'Flight_Number_Operating_Airline', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'OriginCityName',
       'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac',
       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'DestCityName',
       'DestState', 'DestStateFips', 'DestStateName', 'DestWac', 'DepDel15',
       'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'WheelsOff',
       'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrDelay', 'ArrDel15',
       'ArrivalDelayGroups', 'ArrTimeBlk', 'DistanceGroup',
       'DivAirportLandings', 'Ones', 'DepTimeHour'],
      dtype='object')

In [39]:
df = df.sort_values(['Airline', 'Origin'])
df.tail(5)

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings,Ones,DepTimeHour
2405130,2022-06-29,United Air Lines Inc.,TVC,ORD,False,False,730,728.0,0.0,-2.0,745.0,1.0,52.0,74.0,77.0,224.0,2022,2,6,29,3,UA,UA,19977,UA,2639,UA,19977,UA,N815UA,2639,15380,1538005,35380,"Traverse City, MI",MI,26,Michigan,43,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,0.0,-1.0,0700-0759,11.0,739.0,731.0,14.0,744,1.0,0.0,0.0,0700-0759,1,0,1,12.133333
2408784,2022-06-27,United Air Lines Inc.,TVC,ORD,False,False,730,847.0,77.0,77.0,849.0,65.0,41.0,74.0,62.0,224.0,2022,2,6,27,1,UA,UA,19977,UA,2639,UA,19977,UA,N479UA,2639,15380,1538005,35380,"Traverse City, MI",MI,26,Michigan,43,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,1.0,5.0,0700-0759,10.0,857.0,838.0,11.0,744,65.0,1.0,4.0,0700-0759,1,0,1,14.116667
2424220,2022-06-26,United Air Lines Inc.,TVC,ORD,False,False,600,559.0,0.0,-1.0,559.0,0.0,45.0,74.0,60.0,224.0,2022,2,6,26,7,UA,UA,19977,UA,2639,UA,19977,UA,N835UA,2639,15380,1538005,35380,"Traverse City, MI",MI,26,Michigan,43,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,0.0,-1.0,0600-0659,10.0,609.0,554.0,5.0,614,-15.0,0.0,-1.0,0600-0659,1,0,1,9.316667
2425934,2022-06-25,United Air Lines Inc.,TVC,ORD,False,False,730,721.0,0.0,-9.0,731.0,0.0,42.0,74.0,70.0,224.0,2022,2,6,25,6,UA,UA,19977,UA,2639,UA,19977,UA,N802UA,2639,15380,1538005,35380,"Traverse City, MI",MI,26,Michigan,43,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,0.0,-1.0,0700-0759,15.0,736.0,718.0,13.0,744,-13.0,0.0,-1.0,0700-0759,1,0,1,12.016667
2427568,2022-06-24,United Air Lines Inc.,TVC,ORD,False,False,730,727.0,0.0,-3.0,730.0,0.0,45.0,74.0,63.0,224.0,2022,2,6,24,5,UA,UA,19977,UA,2639,UA,19977,UA,N444UA,2639,15380,1538005,35380,"Traverse City, MI",MI,26,Michigan,43,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,0.0,-1.0,0700-0759,10.0,737.0,722.0,8.0,744,-14.0,0.0,-1.0,0700-0759,1,0,1,12.116667

## Rows Access